<div class="card bg bg-base-100 gap-3 text-4xl mx-auto flex flex-col item-center rounded-xl shadow-xl w-4xl">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-32 text-error mx-auto mt-6">
  <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
</svg>
<h1 class="card-title text-4xl mx-auto justify-center">Not Found</h1>
<p class="card-body text-xl text-center">Sorry, What you are looking for is not found.</p>
<button class="btn btn-primary mx-auto my-6" (click)="goBack()">Go back</button>
</div>