<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div class="flex align-middle px-20 mx-auto items-center gap-6">

    <a class="flex max-h-16 border-r-white text-white pr-6 border-r-2 gap-3 items-center">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
</svg>


      <h3 class="text-2xl uppercase text-white font-semibold">Dating App</h3>
    </a>
    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
       <a>Matches</a>
       <a>Lists</a>
       <a>Messages</a>
    </nav>
    <div class="flex align-middle gap-3 ml-auto"> 
      @if(loggedin()){
        
        <details class="dropdown">
          <summary class="btn m-1">open or close</summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
          </ul>
        </details>
      }
      @else {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
          <input [(ngModel)]="creds.email" name="email" type="text" placeholder="Email" class="input"/>
          <input  [(ngModel)]="creds.password" name="password"  type="password" placeholder="Password" class="input" />
          <button class="btn" type="submit">Login</button>
          </form>
        
      }
      </div>
  </div>
</header> 
